#maven
/target
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/src/main/resources/log4j.properties
/src/main/resources/application.properties

# idea
.idea/
*.ipr
*.iml
*.iws

#eclipse
/.settings
/.classpath
/.project
/bin/